.Album {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 7px 0 0 #222222;
    &:hover {
        .title {
            opacity: 1;
            bottom: 0;
        }
        .size {
            opacity: 1;
            top: 0;
            right: 0;
        }
    }
}

.title {
    position: absolute;
    bottom: -100%;
    width: 100%;
    padding: 5px;
    color: #ffffff;
    background-color: rgba(#000000, 0.5);
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: all .4s;
}

.cover {
    width: 100%;
    size: cover;
}

.size {
    position: absolute;
    top: 0;
    right: -100%;
    padding: 5px;
    color: #ffffff;
    background-color: rgba(#000000, 0.5);
    opacity: 0;
    transition: all .4s;
}
