.AlbumPage {
    background: linear-gradient(#fdf077, #ffffff);
}

.list {
    display: grid;
    column-gap: 15px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.count {
    font-size: 18px;
    color: #444444;
    font-weight: bold;
    margin-bottom: 10px;
}

.photo {
    box-shadow: 0 0 0 0 #333333;
    transition: box-shadow .2s;
    &:hover{
        cursor: pointer;
        box-shadow: 4px 4px 0 0 #333333;
    }
}