.UserPage{
    background: linear-gradient(#c569e9, #ffffff);
}

.list_title {
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 20px;
}

.list {
    display: grid;
    column-gap: 20px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}