.UsersPage {
    background: linear-gradient(#4470c4, #ffffff);
}

.list {
    display: grid;
    column-gap: 15px;
    row-gap: 80px;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.count {
    font-size: 18px;
    color: #444444;
    font-weight: bold;
    margin-bottom: 10px;
}